body{
    background-color: black;
}
#window{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#text, #text2{
    width: 480px;
    height: 500px;
    margin: 10px;
    resize: none;
    border-radius: 4px;
    color: white;
    border: 1px solid #6200ee;
    background-color: #171617;
}
#okno{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
#download{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    line-height: 70px;  
    position: fixed;
    right: 50px;
    bottom: 50px;
}

#download1{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    line-height: 70px;  
    position: fixed;
    right: 50px;
    bottom: 150px;
}
#icon{
    width: 30px;
    height: 30px;
}
.button{
    margin: 5px 5px 5px 5px;
    align-items: center;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    background-color: #6200ee;
    color: #fff;
    display: inline-flex;
    font-family: Roboto,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    letter-spacing: .0892857em;
    min-width: 64px;
    outline: none;
    padding: 0 16px;
    position: relative;
    text-align: center;
}